<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <!-- <input type="text" [(ngModel)]="test" rdInputThrottle [debounceDuration]="3000" (onStartedTyping)="onChange($event)" (onFinishedTyping)="onChange($event)" rdCharacterCounter #charCounter="rdCharacterCounter"> -->
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul>

<rd-bootstrap-select [select]="select" defaultTitle="{{communityGroup?.name}} (Group)"
  rdSelect #select="rdSelect" [ngModel]="fileRelationType" 
  (change)="onChange($event)" rdBlur (blur)="select.open = false">
  <rd-bootstrap-dropdown-menu rdSelectDropdown [select]="select">
    <li rdOption #groupOption="rdOption" [select]="select"
      title="{{communityGroup?.name}} (Group)" [value]="{ communityGroup: communityGroup?.id }" [class.active]="groupOption.isActive()">
      <a><span>{{communityGroup?.name}} (Group)</span></a>
    </li>
    <li *ngFor="let community of communities" rdOption #communityOption="rdOption" [select]="select"
      [title]="community?.name" [value]="{ community: community?.id }" [class.active]="communityOption.isActive()">
      <a><span>{{community?.name}}</span></a>
    </li>
  </rd-bootstrap-dropdown-menu>
</rd-bootstrap-select>
<!--
<div>
  <rd-loading-indicator></rd-loading-indicator>
</div>

<rd-expanding-list-view class="collapse-card card-cross-sell" (toggle)="open = $event" [open]="open">
  <div rd-expanding-list-view-header>
    <b>header content</b>
  </div>
  <div rd-expanding-list-view-body *ngIf="open">
    <b>body content</b>
  </div>
</rd-expanding-list-view>


<button class="btn btn-warning" (click)="showModal = true">Show Bootstrap Modal</button>


<rd-bootstrap-modal *ngIf="showModal" class='modal--fullScreen' #photosModal [options]="modalOptions" (hidden)="showModal = false">
  <div rd-bootstrap-modal-header>
    <button type="button" (click)="photosModal.hide()" class="close"><i class="stream stream-close"></i></button>
    <h4 class="modal-title">Photos</h4>
  </div>
  <div rd-bootstrap-modal-body>
        <rd-upload class="row" [uploader]="uploader" (complete)="onUploadSuccess($event)">
            <div class="col-md-3">
                <h3>Select photos</h3>
                <rd-upload-file-drop-zone class="uploaddroparea">
                  Drag and drop photos here
                </rd-upload-file-drop-zone>
                <div style="color: #797979;margin-bottom: 20px;">Supported file types: JPG or PNG</div>
                <div style="font-weight: bold;margin-bottom: 10px;">Or chose your files:</div>
                <rd-upload-file-select-button [multiple]="true"></rd-upload-file-select-button>
            </div>

            <div class="col-md-9" style="margin-bottom: 40px">
                <h3>Photos to be uploaded:</h3>
                <rd-upload-file-queue></rd-upload-file-queue>
            </div>
        </rd-upload>

        <hr/>

    <div>
      <h2>Unit photos</h2>
    </div>
  </div>
</rd-bootstrap-modal> -->


<!-- <rd-compiler></rd-compiler> -->

<!-- <rd-text-editor></rd-text-editor> -->

<!-- <div #div rdTextEditor [inline]="true" [elem]="div">hello world!!!</div> -->
